<!-- Contact Section Starts -->
<div class="section contact-section" id="contact">
    <div id="contact-content">
        <!-- Heading Starts -->
        <div class="heading text-left text-md-center">
            <h2>
                get <span>in touch</span>
            </h2>
        </div>
        <!-- Heading Ends -->
        <div class="container">
            <!-- Contact Boxes Starts -->
            <div class="row boxes">
                <!-- Contact Box Item Starts -->
                <div class="col-12 col-lg-4">
                    <div class="box">
                        <span class="material-icons">call</span>
                        <p>+216 21 184 010</p>
                    </div>
                </div>
                <!-- Contact Box Item Ends -->
                <!-- Contact Box Item Starts -->
                <div class="col-12 col-lg-4">
                    <div class="box">
                        <span class="material-icons">email</span>
                        <p>daniel@mail.com</p>
                    </div>
                </div>
                <!-- Contact Box Item Ends -->
                <!-- Contact Box Item Starts -->
                <div class="col-12 col-lg-4">
                    <div class="box last-box">
                        <span class="material-icons">location_on</span>

                        <p>London, England</p>
                    </div>
                </div>
                <!-- Contact Box Item Ends -->
            </div>
            <!-- Contact Boxes Ends -->
            <div class="separator"></div>
            <!-- Contact Form Starts -->
            <div class="row">
                <div class="col-12 col-lg-4 leftside">
                    <div>
                        <h4 class="mb-0">send me an email</h4>
                        <p>
                            Feel free to get in touch with me. I am always open to discussing new projects or creative ideas.
                        </p>
                    </div>
                    <div>
                        <h4>follow me</h4>
                        <!-- Social Media Starts -->
                        <ul class="social list-unstyled mb-5 mb-lg-0 p-0 d-flex">
                            <li class="facebook">
                                <a title="Facebook" href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="twitter">
                                <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="youtube">
                                <a title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li class="dribbble">
                                <a title="behance" href="#"><i class="fa fa-behance"></i></a>
                            </li>
                        </ul>
                        <!-- Social Media Ends -->
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <form class="formcontact" method="post" action="php/process-form.php">
                        <div class="row contactform">
                            <div class="col-12 col-md-4">
                                <input type="text" name="name" placeholder="YOUR NAME" autocomplete="off">
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="text" name="name" placeholder="SUBJECT" autocomplete="off">
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="email" name="email" placeholder="YOUR EMAIL" autocomplete="off">
                            </div>
                            <div class="col-12">
                                <textarea name="message" placeholder="YOUR MESSAGE"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn main-btn"><span>Send Message</span></button>
                            </div>
                            <div class="col-12 form-message d-none">
                                <span class="output_message text-center text-uppercase"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Contact Boxes Ends -->
        </div>
    </div>
</div>
<!-- Contact Section Ends -->