 <!-- Portfolio Section Starts -->
<div class="section work-section" id="work">
    <div id="work-content">
        <!-- Heading Starts -->
        <div class="heading text-left text-md-center">
            <h2>
                my <span>portfolio</span>
            </h2>
        </div>
        <!-- Heading Ends -->
        <div class="container portfolio-container">
            <!-- Portfolio Items Starts -->
            <div class="grid row w-100 m-0 text-left">
                <div class="item-title-hover"></div>
                <!-- Portfolio Item Starts -->
                <div class="grid__item col-12 col-md-6 col-lg-4" data-size="960x640">
                    <a class="d-block" href="http://via.placeholder.com/960x640.jpg" data-title="Autumn Papers" data-category="mobile application">
                        <!-- ¨Project Main Image Starts -->
                        <img class="img-fluid" src="http://via.placeholder.com/960x640.jpg" alt="Autumn Papers" />
                        <!-- ¨Project Main Image Ends -->
                        <!-- ¨Project Details Starts -->
                        <div class="description description--grid">
                            <h3>Autumn Papers</h3>
                            <div class="details">
                                <ul class="list-unstyled">
                                    <li>
                                        <span>Project : </span>
                                        <span>mobile application</span>
                                    </li>
                                    <li>
                                        <span>Client : </span>
                                        <span>Envato</span>
                                    </li>
                                    <li>
                                        <span>Langages : </span>
                                        <span>html, css, js</span>
                                    </li>
                                    <li>
                                        <span>Duration : </span>
                                        <span>3 months</span>
                                    </li>
                                    <li>
                                        <span>Bugdet : </span>
                                        <span>$33000</span>
                                    </li>
                                </ul>
                                <!-- Project Preview Desktop Link Starts -->
                                <span class="btn main-btn d-none d-md-inline-block" onclick="window.open('https://preview_of_project.com')">
                                    <span>preview</span>
                                </span>
                                <!-- Project Preview Desktop Link Ends -->
                            </div>
                        </div>
                        <!-- Project Details Ends -->
                    </a>
                    <!-- Project Preview Mobile Link Starts -->
                    <span class="btn main-btn d-inline-block d-md-none" onclick="window.open('https://preview_of_project.com')">
                        <span>preview</span>
                    </span>
                    <!-- Project Preview Mobile Link Ends -->
                </div>
                <!-- Portfolio Item Ends -->
                <!-- Portfolio Item Starts -->
                <div class="grid__item col-12 col-md-6 col-lg-4" data-size="793x1080">
                    <a class="d-block" href="http://via.placeholder.com/793x1080.jpg" data-title="Globe" data-category="website design">
                        <!-- ¨Project Main Image Starts -->
                        <img class="img-fluid" src="http://via.placeholder.com/793x1080.jpg" alt="Globe" />
                        <!-- ¨Project Main Image Ends -->
                        <!-- ¨Project Details Starts -->
                        <div class="description description--grid">
                            <h3>Globe</h3>
                            <div class="details">
                                <ul class="list-unstyled">
                                    <li>
                                        <span>Project : </span>
                                        <span>Website Design</span>
                                    </li>
                                    <li>
                                        <span>Client : </span>
                                        <span>Envato</span>
                                    </li>
                                    <li>
                                        <span>Langages : </span>
                                        <span>html, css, js</span>
                                    </li>
                                    <li>
                                        <span>Duration : </span>
                                        <span>3 months</span>
                                    </li>
                                    <li>
                                        <span>Bugdet : </span>
                                        <span>$33000</span>
                                    </li>
                                </ul>
                                <!-- Project Preview Desktop Link Starts -->
                                <span class="btn main-btn d-none d-md-inline-block" onclick="window.open('https://preview_of_project.com')">
                                    <span>preview</span>
                                </span>
                                <!-- Project Preview Desktop Link Ends -->
                            </div>
                        </div>
                        <!-- Project Details Ends -->
                    </a>
                    <!-- Project Preview Mobile Link Starts -->
                    <span class="btn main-btn d-inline-block d-md-none" onclick="window.open('https://preview_of_project.com')">
                        <span>preview</span>
                    </span>
                    <!-- Project Preview Mobile Link Ends -->
                </div>
                <!-- Portfolio Item Ends -->
                <!-- Portfolio Item Starts -->
                <div class="grid__item col-12 col-md-6 col-lg-4" data-size="718x1080">
                    <a class="d-block" href="http://via.placeholder.com/718x1080.jpg" data-title="colored pens" data-category="Photo Shooting">
                        <!-- ¨Project Main Image Starts -->
                        <img class="img-fluid" src="http://via.placeholder.com/718x1080.jpg" alt="colored pens" />
                        <!-- ¨Project Main Image Ends -->
                        <!-- ¨Project Details Starts -->
                        <div class="description description--grid">
                            <h3>colored pens</h3>
                            <div class="details">
                                <ul class="list-unstyled">
                                    <li>
                                        <span>Project : </span>
                                        <span>Website Design</span>
                                    </li>
                                    <li>
                                        <span>Client : </span>
                                        <span>Envato</span>
                                    </li>
                                    <li>
                                        <span>Langages : </span>
                                        <span>html, css, js</span>
                                    </li>
                                    <li>
                                        <span>Duration : </span>
                                        <span>3 months</span>
                                    </li>
                                    <li>
                                        <span>Bugdet : </span>
                                        <span>$33000</span>
                                    </li>
                                </ul>
                                <!-- Project Preview Desktop Link Starts -->
                                <span class="btn main-btn d-none d-md-inline-block" onclick="window.open('https://preview_of_project.com')">
                                    <span>preview</span>
                                </span>
                                <!-- Project Preview Desktop Link Ends -->
                            </div>
                        </div>
                        <!-- Project Details Ends -->
                    </a>
                    <!-- Project Preview Mobile Link Starts -->
                    <span class="btn main-btn d-inline-block d-md-none" onclick="window.open('https://preview_of_project.com')">
                        <span>preview</span>
                    </span>
                    <!-- Project Preview Mobile Link Ends -->
                </div>
                <!-- Portfolio Item Ends -->
                <!-- Portfolio Item Starts -->
                <div class="grid__item col-12 col-md-6 col-lg-4" data-size="716x1080">
                    <a class="d-block" href="http://via.placeholder.com/716x1080.jpg" data-title="woman bag" data-category="3d Object">
                        <!-- ¨Project Main Image Starts -->
                        <img class="img-fluid" src="http://via.placeholder.com/716x1080.jpg" alt="woman bag" />
                        <!-- ¨Project Main Image Ends -->
                        <!-- ¨Project Details Starts -->
                        <div class="description description--grid">
                            <h3>woman bag</h3>
                            <div class="details">
                                <ul class="list-unstyled">
                                    <li>
                                        <span>Project : </span>
                                        <span>Website Design</span>
                                    </li>
                                    <li>
                                        <span>Client : </span>
                                        <span>Envato</span>
                                    </li>
                                    <li>
                                        <span>Langages : </span>
                                        <span>html, css, js</span>
                                    </li>
                                    <li>
                                        <span>Duration : </span>
                                        <span>3 months</span>
                                    </li>
                                    <li>
                                        <span>Bugdet : </span>
                                        <span>$33000</span>
                                    </li>
                                </ul>
                                <!-- Project Preview Desktop Link Starts -->
                                <span class="btn main-btn d-none d-md-inline-block" onclick="window.open('https://preview_of_project.com')">
                                    <span>preview</span>
                                </span>
                                <!-- Project Preview Desktop Link Ends -->
                            </div>
                        </div>
                        <!-- Project Details Ends -->
                    </a>
                    <!-- Project Preview Mobile Link Starts -->
                    <span class="btn main-btn d-inline-block d-md-none" onclick="window.open('https://preview_of_project.com')">
                        <span>preview</span>
                    </span>
                    <!-- Project Preview Mobile Link Ends -->
                </div>
                <!-- Portfolio Item Ends -->
                <!-- Portfolio Item Starts -->
                <div class="grid__item col-12 col-md-6 col-lg-4" data-size="960x640">
                    <a class="d-block" href="http://via.placeholder.com/960x640.jpg" data-title="halloween" data-category="After Effect Video">
                        <!-- ¨Project Main Image Starts -->
                        <img class="img-fluid" src="http://via.placeholder.com/960x640.jpg" alt="halloween" />
                        <!-- ¨Project Main Image Ends -->
                        <!-- ¨Project Details Starts -->
                        <div class="description description--grid">
                            <h3>halloween</h3>
                            <div class="details">
                                <ul class="list-unstyled">
                                    <li>
                                        <span>Project : </span>
                                        <span>Website Design</span>
                                    </li>
                                    <li>
                                        <span>Client : </span>
                                        <span>Envato</span>
                                    </li>
                                    <li>
                                        <span>Langages : </span>
                                        <span>html, css, js</span>
                                    </li>
                                    <li>
                                        <span>Duration : </span>
                                        <span>3 months</span>
                                    </li>
                                    <li>
                                        <span>Bugdet : </span>
                                        <span>$33000</span>
                                    </li>
                                </ul>
                                <!-- Project Preview Desktop Link Starts -->
                                <span class="btn main-btn d-none d-md-inline-block" onclick="window.open('https://preview_of_project.com')">
                                    <span>preview</span>
                                </span>
                                <!-- Project Preview Desktop Link Ends -->
                            </div>
                        </div>
                        <!-- Project Details Ends -->
                    </a>
                    <!-- Project Preview Mobile Link Starts -->
                    <span class="btn main-btn d-inline-block d-md-none" onclick="window.open('https://preview_of_project.com')">
                        <span>preview</span>
                    </span>
                    <!-- Project Preview Mobile Link Ends -->
                </div>
                <!-- Portfolio Item Ends -->
                <!-- Portfolio Item Starts -->
                <div class="grid__item col-12 col-md-6 col-lg-4" data-size="960x1440">
                    <a class="d-block" href="http://via.placeholder.com/960x1440.jpg" data-title="Bottle" data-category="Water Project">
                        <!-- ¨Project Main Image Starts -->
                        <img class="img-fluid" src="http://via.placeholder.com/960x1440.jpg" alt="Bottle" />
                        <!-- ¨Project Main Image Ends -->
                        <!-- ¨Project Details Starts -->
                        <div class="description description--grid">
                            <h3>Bottle</h3>
                            <div class="details">
                                <ul class="list-unstyled">
                                    <li>
                                        <span>Project : </span>
                                        <span>Website Design</span>
                                    </li>
                                    <li>
                                        <span>Client : </span>
                                        <span>Envato</span>
                                    </li>
                                    <li>
                                        <span>Langages : </span>
                                        <span>html, css, js</span>
                                    </li>
                                    <li>
                                        <span>Duration : </span>
                                        <span>3 months</span>
                                    </li>
                                    <li>
                                        <span>Bugdet : </span>
                                        <span>$33000</span>
                                    </li>
                                </ul>
                                <!-- Project Preview Desktop Link Starts -->
                                <span class="btn main-btn d-none d-md-inline-block" onclick="window.open('https://preview_of_project.com')">
                                    <span>preview</span>
                                </span>
                                <!-- Project Preview Desktop Link Ends -->
                            </div>
                        </div>
                        <!-- Project Details Ends -->
                    </a>
                    <!-- Project Preview Mobile Link Starts -->
                    <span class="btn main-btn d-inline-block d-md-none" onclick="window.open('https://preview_of_project.com')">
                        <span>preview</span>
                    </span>
                    <!-- Project Preview Mobile Link Ends -->
                </div>
                <!-- Portfolio Item Ends -->
                <!-- Portfolio Item Starts -->
                <div class="grid__item col-12 col-md-6 col-lg-4" data-size="960x1440">
                    <a class="d-block" href="http://via.placeholder.com/960x1440.jpg" data-title="Sofa" data-category="Relaxing chairs">
                        <!-- ¨Project Main Image Starts -->
                        <img class="img-fluid" src="http://via.placeholder.com/960x1440.jpg" alt="Sofa" />
                        <!-- ¨Project Main Image Ends -->
                        <!-- ¨Project Details Starts -->
                        <div class="description description--grid">
                            <h3>Sofa</h3>
                            <div class="details">
                                <ul class="list-unstyled">
                                    <li>
                                        <span>Project : </span>
                                        <span>Relaxing chairs</span>
                                    </li>
                                    <li>
                                        <span>Client : </span>
                                        <span>Envato</span>
                                    </li>
                                    <li>
                                        <span>Langages : </span>
                                        <span>html, css, js</span>
                                    </li>
                                    <li>
                                        <span>Duration : </span>
                                        <span>3 months</span>
                                    </li>
                                    <li>
                                        <span>Bugdet : </span>
                                        <span>$33000</span>
                                    </li>
                                </ul>
                                <!-- Project Preview Desktop Link Starts -->
                                <span class="btn main-btn d-none d-md-inline-block" onclick="window.open('https://preview_of_project.com')">
                                    <span>preview</span>
                                </span>
                                <!-- Project Preview Desktop Link Ends -->
                            </div>
                        </div>
                        <!-- Project Details Ends -->
                    </a>
                    <!-- Project Preview Mobile Link Starts -->
                    <span class="btn main-btn d-inline-block d-md-none" onclick="window.open('https://preview_of_project.com')">
                        <span>preview</span>
                    </span>
                    <!-- Project Preview Mobile Link Ends -->
                </div>
                <!-- Portfolio Item Ends -->
                <!-- Portfolio Item Starts -->
                <div class="grid__item col-12 col-md-6 col-lg-4" data-size="960x638">
                    <a class="d-block" href="http://via.placeholder.com/960x638.jpg" data-title="Beautiful cat" data-category="mobile application">
                        <!-- ¨Project Main Image Starts -->
                        <img class="img-fluid" src="http://via.placeholder.com/960x638.jpg" alt="Beautiful cat" />
                        <!-- ¨Project Main Image Ends -->
                        <!-- ¨Project Details Starts -->
                        <div class="description description--grid">
                            <h3>Beautiful cat</h3>
                            <div class="details">
                                <ul class="list-unstyled">
                                    <li>
                                        <span>Project : </span>
                                        <span>Website Design</span>
                                    </li>
                                    <li>
                                        <span>Client : </span>
                                        <span>Envato</span>
                                    </li>
                                    <li>
                                        <span>Langages : </span>
                                        <span>html, css, js</span>
                                    </li>
                                    <li>
                                        <span>Duration : </span>
                                        <span>3 months</span>
                                    </li>
                                    <li>
                                        <span>Bugdet : </span>
                                        <span>$33000</span>
                                    </li>
                                </ul>
                                <!-- Project Preview Desktop Link Starts -->
                                <span class="btn main-btn d-none d-md-inline-block" onclick="window.open('https://preview_of_project.com')">
                                    <span>preview</span>
                                </span>
                                <!-- Project Preview Desktop Link Ends -->
                            </div>
                        </div>
                        <!-- Project Details Ends -->
                    </a>
                    <!-- Project Preview Mobile Link Starts -->
                    <span class="btn main-btn d-inline-block d-md-none" onclick="window.open('https://preview_of_project.com')">
                        <span>preview</span>
                    </span>
                    <!-- Project Preview Mobile Link Ends -->
                </div>
                <!-- Portfolio Item Ends -->
            </div>
            <!-- Portfolio Items Ends -->
            <!-- ¨Close Portfolio Item Starts -->
            <div class="preview">
                <button class="action action--close">
                    <span class="position-relative d-block">
                        <span class="navigation-close-line"></span>
                        <span class="navigation-close-line"></span>
                    </span>
                </button>
                <div class="description description--preview"></div>
            </div>
            <!-- ¨Close Portfolio Item Ends -->
        </div>
    </div>
</div>
<!-- Portfolio Section Ends -->