
<!-- About Section Starts -->
<div class="section about-section" id="about">
    <div id="about-content">
        <!-- Heading Starts -->
        <div class="heading text-left text-md-center">
            <h2>
                about <span>me</span>
            </h2>
        </div>
        <!-- Heading Ends -->
        <!-- Personal Infos Starts -->
        <div class="container infos">
            <div class="row infos-holder align-items-center">
                <div class="col-12 col-lg-5">
                    <img class="img-fluid d-block photo" src="http://via.placeholder.com/450x550.jpg" alt="" />
                </div>
                <div class="col-12 col-lg-7">
                    <p class="m-0">
                        I'm Daniel Martin, british based web designer and front‑end developer living in London focused on crafting clean, creative and user‑friendly experiences, I build beautiful and powerful websites and android applications.
                    </p>
                    <div class="row text-nowrap">
                        <div class="d-flex col-12 col-sm-6 personal-list-container personal-list-container-1">
                            <ul class="list-unstyled personal-info w-100">
                                <li>
                                    <p><span class="material-icons">cake</span><span>Birthdate : </span>June 1990</p>
                                </li>
                                <li>
                                    <p><span class="material-icons">flag</span><span>Nationality : </span>British</p>
                                </li>
                                <li>
                                    <p><span class="material-icons">settings</span><span>Experience : </span>8 years</p>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex col-12 col-sm-6 personal-list-container personal-list-container-2">
                            <ul class="list-unstyled personal-info w-100">
                                <li>
                                    <p><span class="material-icons">call</span><span>Phone : </span>+34 18 40 10</p>
                                </li>
                                <li>
                                    <p><span class="material-icons">location_on</span><span>Address : </span>London, UK</p>
                                </li>
                                <li>
                                    <p><span class="material-icons">email</span><span>Email : </span>daniel@mail.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Download CV Starts -->
                    <a href="#" class="btn main-btn"><span>download my cv</span></a>
                    <!-- Download CV Ends -->
                </div>

            </div>
        </div>
        <!-- Personal Infos Ends -->
        <!-- Resume Starts -->
        <div class="w-100 resume">
            <div class="container">
                <div class="row">
                    <div class="col-12 pl-0">
                        <h4 class="subtitle text-center">My resume</h4>
                    </div>
                    <div class="resume-header">
                        <p class="active" id="experience">experience</p>
                        <p id="education">education</p>
                    </div>
                    <div class="col-12 resume-holder">
                        <!-- Experience Starts -->
                        <div id="experiencecarousel" class="owl-carousel owl-theme visiblecarousel">
                            <!-- Experience Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Web Developer</h5>
                                    <h6 class="mb-0">2018 - now</h6>
                                </div>
                                <span class="company d-inline-block mb-2">Adobe</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Experience Item Ends -->
                            <!-- Experience Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Designer</h5>
                                    <h6 class="mb-0">2014 - 2018</h6>
                                </div>
                                <span class="company d-inline-block mb-2">Twitter</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Experience Item Ends -->
                            <!-- Experience Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Consultant</h5>
                                    <h6 class="mb-0">2006 - 2014</h6>
                                </div>
                                <span class="company d-inline-block mb-2">Facebook</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Experience Item Ends -->
                            <!-- Experience Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Professor</h5>
                                    <h6 class="mb-0">2010 - 2014</h6>
                                </div>
                                <span class="company d-inline-block mb-2">Envato</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Experience Item Ends -->
                            <!-- Experience Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Engineer</h5>
                                    <h6 class="mb-0">2006 - 2010</h6>
                                </div>
                                <span class="company d-inline-block mb-2">Google</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Experience Item Ends -->
                            <!-- Experience Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Writer</h5>
                                    <h6 class="mb-0">2006 - 2010</h6>
                                </div>
                                <span class="company d-inline-block mb-2">IBM</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Experience Item Ends -->
                            <!-- Experience Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Internship</h5>
                                    <h6 class="mb-0">2005 - 2010</h6>
                                </div>
                                <span class="company d-inline-block mb-2">Yahoo</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Experience Item Ends -->
                        </div>
                        <!-- Experience Ends -->
                        <!-- Education Starts -->
                        <div id="educationcarousel" class="owl-carousel owl-theme hiddencarousel">
                            <!-- Education Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Engineering Degree</h5>
                                    <h6 class="mb-0">2015</h6>
                                </div>
                                <span class="company d-inline-block mb-2">Oxford University</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Education Item Ends -->
                            <!-- Education Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Master Degree</h5>
                                    <h6 class="mb-0">2012</h6>
                                </div>
                                <span class="company d-inline-block mb-2">Moscow University</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Education Item Ends -->
                            <!-- Education Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Bachelor Degree</h5>
                                    <h6 class="mb-0">2009</h6>
                                </div>
                                <span class="company d-inline-block mb-2">Tunis High School</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Education Item Ends -->
                            <!-- Education Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Tech Degree</h5>
                                    <h6 class="mb-0">2007</h6>
                                </div>
                                <span class="company d-inline-block mb-2">Paris High School</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Education Item Ends -->
                            <!-- Education Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">College Degree</h5>
                                    <h6 class="mb-0">2005</h6>
                                </div>
                                <span class="company d-inline-block mb-2">Berlin High School</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Education Item Ends -->
                            <!-- Education Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">High School Degree</h5>
                                    <h6 class="mb-0">2003</h6>
                                </div>
                                <span class="company d-inline-block mb-2">Tokyo High School</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Education Item Ends -->
                            <!-- Education Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">School Degree</h5>
                                    <h6 class="mb-0">2001</h6>
                                </div>
                                <span class="company d-inline-block mb-2">Madrid High School</span>
                                <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui metus sollicitudin sed suscipit.</p>
                            </div>
                            <!-- Education Item Ends -->
                        </div>
                        <!-- Education Ends -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Resume Ends -->
        <div class="badges">
            <div class="container">
                <div class="row text-center">
                    <!-- Fact Badge Item Starts -->
                    <div class="col-12 col-md-4">
                        <span class="material-icons">cases</span>
                        <h3>13</h3>
                        <p>Years Experience</p>
                    </div>
                    <!-- Fact Badge Item Ends -->
                    <!-- Fact Badge Item Starts -->
                    <div class="col-12 col-md-4">
                        <span class="material-icons">thumb_up</span>
                        <h3>56</h3>
                        <p>done projects</p>
                    </div>
                    <!-- Fact Badge Item Ends -->
                    <!-- Fact Badge Item Starts -->
                    <div class="col-12 col-md-4">
                        <span class="material-icons">favorite</span>
                        <h3>89</h3>
                        <p>happy customers</p>
                    </div>
                    <!-- Fact Badge Item Ends -->
                </div>
            </div>
        </div>
        <!-- Fun Facts Ends -->
        <!-- Skills Starts -->
        <div class="container skills">
            <div class="row">
                <div class="col-12">
                    <h4 class="subtitle">
                        <!--<span class="material-icons">download_done</span>-->
                        My skills
                    </h4>
                </div>
                <!-- Skill Bar Starts -->
                <div class="col-12 col-md-6">
                    <span class="skill-text">HTML</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="80" style="width: 80%;"></span>
                        <span class="percent" style="right: 20%;">80%<span class="arrow"></span></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-md-6">
                    <span class="skill-text">Javscript</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="70" style="width: 70%;"></span>
                        <span class="percent" style="right: 30%;">70%<span class="arrow"></span></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-md-6">
                    <span class="skill-text">CSS</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="60" style="width: 60%;"></span>
                        <span class="percent" style="right: 40%;">60%<span class="arrow"></span></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-md-6">
                    <span class="skill-text">Php</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="57" style="width: 57%;"></span>
                        <span class="percent" style="right: 43%;">57%<span class="arrow"></span></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-md-6">
                    <span class="skill-text">WordPress</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="90" style="width: 90%;"></span>
                        <span class="percent" style="right: 10%;">90%<span class="arrow"></span></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-md-6">
                    <span class="skill-text ">Drupal</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="80" style="width: 80%;"></span>
                        <span class="percent" style="right: 20%;">80%<span class="arrow"></span></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-md-6">
                    <span class="skill-text ">jQuery</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="70" style="width: 70%;"></span>
                        <span class="percent" style="right: 30%;">70%<span class="arrow"></span></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-md-6">
                    <span class="skill-text">React</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="50" style="width: 50%;"></span>
                        <span class="percent" style="right: 50%;">50%<span class="arrow"></span></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
            </div>
        </div>
        <!-- Skills Ends -->
        <!-- Fun Facts Starts -->
    </div>
</div>
<!-- About Section Ends -->